@page "/"
@inject HttpClient Http 

<h1>Demo Azure Upwards!</h1>

<h3>@Message</h3>

@code {
    private string Message = "";

    protected override async Task OnInitializedAsync()
    {
        var response = await Http.GetAsync("https://demofuncionsupwards.azurewebsites.net/api/Function1?code=4ihcmDP5iJKiVTzT0XBLvlqKjQJ80PRiGE1isfFZ5DMSf6lmcAZJLw==&Name=Gustavo");
        if (response.IsSuccessStatusCode)
        {
            Message = await response.Content.ReadAsStringAsync();
        }
    }
}